<div class="block block-title-text-images py-3">
    {% if content.title is defined and content.title is not empty %}
        <h3 class="mb-3">{{ content.title }}</h3>
    {% endif %}
    {% if content.text is defined and content.text is not empty %}
        <div class="text mb-3">
            {{ content.text|raw }}
        </div>
    {% endif %}
    {% if content.images.ids is defined and content.images.ids is not empty %}
        <div class="row">
            {% for mediaId in content.images.ids %}
                {% set image = sulu_resolve_media(mediaId, app.request.locale) %}
                {% if image %}
                    <div class="col-6 col-md-4 mb-3">
                        <img src="{{ image.url }}" class="img-fluid rounded" alt="{{ image.title|default(content.title) }}">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>
